//Import fonts
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


//Variables
//Colors:
@color-btn: #fbb303;
@color-light-green: #6fc648;
@color-dark-green: #286b0a;

//Font families:
.font-regular() {
  font-family: 'Proxima Nova Regular', sans-serif;
}
.font-bold() {
  font-family: 'Proxima Nova Bold', sans-serif;
}
html {
  .font-regular();
  font-size: 10px;
  color: white;
}

h1 {
  text-transform: uppercase;
  .font-bold();
  font-size: 2.4rem;
}

.main-button-style {
  padding: 1.5rem 0;
  border-radius: 0.8rem;
  background-color: @color-btn;
  border-color: @color-btn;
  font-size: 1.4rem;
   &:hover {
     background-color: lighten(@color-btn, 10%);
     border-color: @color-btn;
  }
}

.phone-number {
  font-size: 2rem;
}

.main-content {
  margin-top: 9rem;
  & h1 {
    font-size: 4rem;
    line-height: 1.5;
  }
  &-description {
    margin-top: 3rem;
    font-size: 2.4rem;
  }
  &-note-under-form {
    text-align: left;
    margin-left: 3.1rem;
  }

  &-price {
    display: inline-block;
    width: auto;
    background-color: @color-light-green;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: 3rem 4rem;
    margin-top: 4rem;
  }
  &-pay {
    font-size: 2.2rem !important;
    margin-top: 3.7rem;
  }

  &-form {

    &-title {
      font-size: 1.8rem;
      text-align: center;
    }
    &-label-name, &-label-number {
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      text-align: center;
      padding: 0.5rem;
      z-index: 1;
      font-size: 1.3rem;
    }
    &-label-number {
      margin-top: 1rem;
    }
    &-small {
      text-align: center;
      margin-top: 1rem;
      padding-bottom: 4rem;
      font-size: 1.2rem;
    }
  }
  &-form-button-style {
    display: block;
    text-align: center;
    padding: 2rem 3rem;
    vertical-align: center;
    width: 25.7rem;
    margin: 2.2rem auto 0 auto;
  }
}

.section-one {
  padding-top: 1.5rem;
  height: 70rem;
  width: 100%;
  background: #fff url(../img/section-one-bg.jpg) center center no-repeat;
  background-size: cover;
}

form {
  padding-top: 4rem;
  background-color: white;
  position: relative;
  display: block;
  width: auto;
  height: auto;
  & input {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    height: 5.4rem;
    width: 25.6rem;
    margin-top: 2.5rem;
  }
}