body {
    font-family: Tahoma, sans-serif;
}

.section1 {
    margin-top: 110px;
}

h1 {
    font-size: 24px;
    margin-bottom: 85px;
}

.form-section {
    border: 5px solid #3c3cdb
}

h2 {
    padding: 30px 0 35px 0;
    font-size: 20px;
}

button, input {
    width: 100%;
}

button {
    background-color: #3c3cdb !important;
    height: 64px;
    border-radius: 0 !important;
    margin-bottom: 15px;
    color: #fff !important;
}

input {
    padding: 15px 0 15px 5px;
    margin-bottom: 10px;
}

.section2 {
    margin-top: 150px;
}

.section3 {
    margin-top: 130px;
}

.benefits-block {
    margin-bottom: 95px;
}

.item {
    margin-bottom: 35px;
}