@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.txt-link {
  color: #00a300;
  text-decoration: underline;
}
input,
button,
a,
textarea {
  outline-color: transparent;
}
html {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 10px;
  color: white;
}
a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
a:hover {
  color: #0d6efd;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
h1 {
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2.4rem;
}
.main-button-style {
  padding: 1.5rem 0;
  border-radius: 0.8rem;
  background-color: #fbb303;
  border-color: #fbb303;
  font-size: 1.4rem;
}
.main-button-style:hover {
  background-color: #fdc234;
  border-color: #fbb303;
}
.phone-number {
  font-size: 2rem;
}
.main-content {
  margin-top: 9rem;
}
.main-content h1 {
  font-size: 4rem;
  line-height: 1.5;
}
.main-content-description {
  margin-top: 3rem;
  font-size: 2.4rem;
}
.main-content-note-under-form {
  text-align: left;
  margin-left: 3.1rem;
}
.main-content-price {
  display: inline-block;
  width: auto;
  background-color: #6fc648;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding: 3rem 4rem;
  margin-top: 4rem;
}
.main-content-pay {
  font-size: 2.2rem !important;
  margin-top: 3.7rem;
}
.main-content-form-title {
  font-size: 1.8rem;
  text-align: center;
}
.main-content-form-label-name,
.main-content-form-label-number,
.main-content-form-label-message {
  position: absolute;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  text-align: center;
  padding: 0.5rem;
  z-index: 1;
  font-size: 1.3rem;
}
.main-content-form-label-number {
  margin-top: 1rem;
}
.main-content-form-label-message {
  margin-top: 0.8rem;
}
.main-content-form-small {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 4rem;
  font-size: 1.2rem;
}
.main-content-form-button-style {
  display: block;
  text-align: center;
  padding: 2rem 3rem;
  vertical-align: center;
  width: 25.7rem;
  margin: 2.2rem auto 0 auto;
}
.section-one {
  padding-top: 1.5rem;
  width: 100%;
  background: #ffffff url(../img/section-one-bg.jpg) center center no-repeat;
  background-size: cover;
}
form {
  padding-top: 4rem;
  background-color: white;
  position: relative;
  display: block;
  width: auto;
  height: auto;
}
form input,
form textarea {
  outline: unset;
  display: block;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  height: 5.4rem;
  width: 25.6rem;
  margin-top: 2.5rem;
}
form input:focus,
form textarea:focus {
  border: 1px solid #dbdbdb;
  outline: 1px solid #dbdbdb;
}
form textarea {
  height: 9rem;
}
.features {
  margin-top: 10rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3.5rem;
}
.features-block p {
  font-size: 1.6rem;
  padding: 0 1.7rem;
}
.features-img {
  height: 7rem;
  margin-bottom: 6.4rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.benefits-title {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 13rem;
}
.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
  width: 2rem;
  height: 2rem;
  border: none;
  opacity: 0.3;
}
.prev {
  background: url(../img/left-arrow.svg) center no-repeat;
  left: 0;
  background-size: 70%;
}
.next {
  background: url(../img/right-arrow.svg) center no-repeat;
  right: 0;
  background-size: 70%;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close-btn {
  top: -3rem;
  right: -5rem;
  position: absolute;
  background-color: transparent;
  outline: transparent;
  font-size: 5rem;
  font-weight: normal;
  color: white;
  border: none;
}
.popup-consulting {
  display: none;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.popup-consulting-content {
  margin-top: 3.5rem;
  text-align: center;
}
.popup-consulting-content h4 {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 1.8rem;
}
.popup-consulting-content p {
  font-family: 'Proxima Nova Regular', sans-serif;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  width: 25.7rem;
}
.popup-consulting-form {
  width: 35.5rem;
  padding-top: 2.3rem;
}
.popup-consulting-form button {
  margin-bottom: 5rem;
}
.popup-consulting-form label[class="main-content-form-label-name"] {
  margin-top: 1rem;
}
.prices {
  background: #286b0a url("../img/price-plans-section/section-bg.png") center;
  margin-top: 12rem;
  text-align: center;
}
.texts {
  margin-top: 12rem;
}
.price-header {
  color: white;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 3.6rem;
}
.price-title {
  font-size: 1.8rem;
  color: white;
  margin-top: 5.3rem;
  margin-bottom: 9.3rem;
}
.price-btn-style {
  font-weight: bold;
  padding: 2rem 3rem;
}
.price-btn-block {
  margin-top: 12rem;
}
.price-plan-order-btn {
  padding: 2rem 6rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 5rem;
}
.price-plan-block {
  background-color: white;
  max-width: 40rem;
  margin-left: 4rem;
  margin-bottom: 12rem;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
}
.price-plan-block h2 {
  margin: 5rem 0 4rem 0;
  font-family: 'Proxima Nova Bold', sans-serif;
}
.price-plan-block img {
  margin-bottom: 3.6rem;
}
.price-plan-block h4 {
  font-family: 'Proxima Nova Bold', sans-serif;
  margin-bottom: 3.8rem;
}
.price-plan-block h4 span {
  font-size: 2.2rem;
}
.price-plan-block ul {
  min-height: 18rem;
}
.price-plan-block ul li {
  list-style: none;
  font-size: 1.8rem;
  font-family: 'Proxima Nova Regular', sans-serif;
}
.price-plan-block ul li:before {
  content: '';
  height: 1.4rem;
  width: 1.4rem;
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  background: url("../img/price-plans-section/checkmark.svg") no-repeat center;
  background-size: 100%;
}
@media (min-width: 1201px) {
  .price-plan-block {
    margin: 0 0 5rem 0;
    max-width: unset;
  }
  .price-btn-block {
    margin-top: 0;
    margin-bottom: 8rem;
    max-width: unset;
  }
}
@media (max-width: 1200px) {
  .price-plan-block {
    margin: 0 0 5rem 0;
    max-width: unset;
  }
  .price-btn-block {
    margin-top: 0;
    margin-bottom: 8rem;
    max-width: unset;
  }
}
@media (max-width: 991px) {
  .phone-number {
    text-align: center;
  }
  .section-one {
    background-position: top right;
  }
  .hopper-content {
    text-align: center;
  }
  .main-content {
    margin-top: 5rem;
  }
  .form-container {
    margin-top: 2rem;
  }
  .header-button {
    margin-top: 2rem;
  }
  .price-plan-block {
    margin: 0 0 5rem 0;
    max-width: unset;
  }
  .price-btn-block {
    margin-top: 0;
    margin-bottom: 10rem;
    max-width: unset;
  }
}
@media (max-width: 766px) {
  .header-button {
    margin-top: 2rem;
  }
  .price-plan-block {
    margin: 0 0 5rem 0;
    width: 100%;
    max-width: unset;
  }
  .price-btn-block {
    margin-top: 0;
    margin-bottom: 10rem;
    max-width: unset;
  }
}
@media (max-width: 575px) {
  .price-plan-block {
    margin: 0 0 5rem 0;
    width: 100%;
    max-width: unset;
  }
  .price-btn-block {
    margin-top: 0;
    margin-bottom: 10rem;
  }
  .phone-number {
    margin-top: 1.5rem;
  }
  .header-button {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .btn-get-consulting {
    width: 100%;
    min-width: 30rem;
  }
}
