@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
input,
button,
a {
  outline-color: transparent;
}
html {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 10px;
  color: white;
}
a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
a:hover {
  color: #0d6efd;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
h1 {
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 2.4rem;
}
.main-button-style {
  padding: 1.5rem 0;
  border-radius: 0.8rem;
  background-color: #fbb303;
  border-color: #fbb303;
  font-size: 1.4rem;
}
.main-button-style:hover {
  background-color: #fdc234;
  border-color: #fbb303;
}
.phone-number {
  font-size: 2rem;
}
.main-content {
  margin-top: 9rem;
}
.main-content h1 {
  font-size: 4rem;
  line-height: 1.5;
}
.main-content-description {
  margin-top: 3rem;
  font-size: 2.4rem;
}
.main-content-note-under-form {
  text-align: left;
  margin-left: 3.1rem;
}
.main-content-price {
  display: inline-block;
  width: auto;
  background-color: #6fc648;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding: 3rem 4rem;
  margin-top: 4rem;
}
.main-content-pay {
  font-size: 2.2rem !important;
  margin-top: 3.7rem;
}
.main-content-form-title {
  font-size: 1.8rem;
  text-align: center;
}
.main-content-form-label-name,
.main-content-form-label-number {
  position: absolute;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  text-align: center;
  padding: 0.5rem;
  z-index: 1;
  font-size: 1.3rem;
}
.main-content-form-label-number {
  margin-top: 1rem;
}
.main-content-form-small {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 4rem;
  font-size: 1.2rem;
}
.main-content-form-button-style {
  display: block;
  text-align: center;
  padding: 2rem 3rem;
  vertical-align: center;
  width: 25.7rem;
  margin: 2.2rem auto 0 auto;
}
.section-one {
  padding-top: 1.5rem;
  width: 100%;
  background: #ffffff url(../img/section-one-bg.jpg) center center no-repeat;
  background-size: cover;
}
form {
  padding-top: 4rem;
  background-color: white;
  position: relative;
  display: block;
  width: auto;
  height: auto;
}
form input {
  display: block;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  height: 5.4rem;
  width: 25.6rem;
  margin-top: 2.5rem;
}
@media (max-width: 991px) {
  .phone-number {
    text-align: center;
  }
  .section-one {
    background-position: top right;
  }
  .hopper-content {
    text-align: center;
  }
  .main-content {
    margin-top: 5rem;
  }
  .form-container {
    margin-top: 2rem;
  }
}
@media (max-width: 991px) {
  .header-button {
    margin-top: 2rem;
  }
}
@media (max-width: 766px) {
  .header-button {
    margin-top: 2rem;
  }
}
@media (max-width: 575px) {
  .phone-number {
    margin-top: 1.5rem;
  }
  .header-button {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
